@model EmployeeProjectAllocationMVC.Models.ProjectAllocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectAllocation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllocationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllocationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp.EmpId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProAllocateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
